<section class="thirteen columns">
    <h1>About Me</h1>
    <article class="mypost">
        <p>I'm a fifth-year PhD candidate in Computer Science at City University of Hong Kong. I am advised by Prof. <a href="https://junqiaoqiu.github.io/"> Junqiao Qiu</a>, Prof. <a href="https://mbzuai.ac.ae/study/faculty/chun-jason-xue/">Chun Jason Xue</a>, and Prof. <a href="https://henryhxu.github.io/">Hong Xu</a>. </p>
<!--         <p> You can find a more detailed resume <a href="assets/resume.pdf"> here </a>. </p> -->
        <p>
            <br/> My current focus is building programming systems and runtime support for data-intensive/irregular applications to achieve their high performance on modern parallel platforms and emerging memory systems.
        </p>
    </article>
</section>
