<section class="thirteen columns">
    <h1>Publication</h1>
    <article>
            <h5 style="background-color:  rgba(39, 168, 34, 0.06);">PIE: Enabling Fast and Scalable Incremental Evolving Graph Analytics on Persistent Memory</h5>
        <p>
            <strong>Yunmo Zhang</strong>, Jiacheng Huang, Xizhe Yin, Junqiao Qiu, Hong Xu, Chun Jason Xue
        </p>
        <p style="color: #808080;">
        ACM International Conference on Supercomputing (<strong>ICS</strong>), 2025.
        </p>
        <p>[<a href="https://github.com/YunMoZhang/paper/blob/main/ICS25_PIE.pdf">Paper</a>][<a href="https://github.com/YunMoZhang/paper/blob/main/ICS25_PIE_slides.pdf">Slides</a>]</p>
    </article>
    <article>
            <h5 style="background-color:  rgba(39, 168, 34, 0.06);">More Apps, Faster Hot-Launch on Mobile Devices via Fore/Background-aware GC-Swap Co-design</h5>
        <p>
           Jiangcheng Huang, <strong>Yunmo Zhang</strong>, Junqiao Qiu, Yu Liang, Rachata Ausavarungnirun, Qingan Li, Chun Jason Xue.
        </p>
        <p style="color: #808080;">
        ACM International Conference on Architectural Support for Programming Languages and Operating Systems (<strong>ASPLOS</strong>), 2024.
        </p>
<!--         <p>[Paper]</p> -->
    </article>
    <article>
            <h5 style="background-color:  rgba(39, 168, 34, 0.06);">Probabilistic Analysis of Network Availability</h5>
        <p>
           <strong>Yunmo Zhang</strong>, Hong Xu, Chun Jason Xue and Tei-Wei Kuo.
        </p>
        <p style="color: #808080;">
        IEEE International Conference on Network Protocol (<strong>ICNP</strong>), 2022.
        </p>
        <p>[Paper]</p>
    </article>
</section>
