<section class="thirteen columns">
    <h1>Publication</h1>
    <article>
           <h5><span style="background-color:  rgba(39, 168, 34, 0.06); text-decoration: underline;">Inferring Likely Counting-related Atomicity Program Properties for Persistent Memory</span></h5>
        <p>
            <strong>Yunmo Zhang</strong>, Junqiao Qiu, Hong Xu, Chun Jason Xue
        </p>
        <p style="color: #808080;">
        USENIX Annual Technical Conference (<em>ATC</em>), 2025.
        </p>
        <p>[<a href="./assets/file/atc25-zhang-yunmo.pdf" target="_blank">Paper</a>][<a href="./assets/file/atc25_slides-Yunmo.pdf"  target="_blank">Slides</a>]</p>
     </article>
    <article>
        </p>
            <h5><span style="background-color:  rgba(39, 168, 34, 0.06); text-decoration: underline;">PIE: Enabling Fast and Scalable Incremental Evolving Graph Analytics on Persistent Memory</span></h5>
        <p>
            <strong>Yunmo Zhang</strong>, Jiacheng Huang, Xizhe Yin, Junqiao Qiu, Hong Xu, Chun Jason Xue
        </p>
        <p style="color: #808080;">
        ACM International Conference on Supercomputing (<em>ICS</em>), 2025.
        </p>
        <p>[<a href="./assets/file/ICS25_PIE.pdf" target="_blank">Paper</a>][<a href="./assets/file/ICS25_PIE_slides.pdf"  target="_blank">Slides</a>]</p>
    </article>
    <article>
            <h5> <span style="background-color:  rgba(39, 168, 34, 0.06); text-decoration: underline;">More Apps, Faster Hot-Launch on Mobile Devices via Fore/Background-aware GC-Swap Co-design </span></h5>
        <p>
           Jiacheng Huang, <strong>Yunmo Zhang</strong>, Junqiao Qiu, Yu Liang, Rachata Ausavarungnirun, Qingan Li, Chun Jason Xue.
        </p>
        <p style="color: #808080;">
        ACM International Conference on Architectural Support for Programming Languages and Operating Systems (<em>ASPLOS</em>), 2024.
        </p>
<!--         <p>[Paper]</p> -->
    </article>
    <article>
            <h5><span style="background-color:  rgba(39, 168, 34, 0.06); text-decoration: underline;">Probabilistic Analysis of Network Availability</span></h5>
        <p>
           <strong>Yunmo Zhang</strong>, Hong Xu, Chun Jason Xue and Tei-Wei Kuo.
        </p>
        <p style="color: #808080;">
        IEEE International Conference on Network Protocol (<em>ICNP</em>), 2022.
        </p>
        <p>[<a href="./assets/file/icnp22_pita.pdf" target="_blank">Paper</a>][<a href="./assets/file/ICNP22_Pita.pdf" target="_blank">Slides</a>]</p>
    </article>
</section>
